$size-md: 840px;

.checkout {
  background-color: transparent !important;
  margin: 0 auto;
  padding: 50px 10% !important;
  font-family: sans-serif;
  max-width: 1200px;

  &__container {
    display: flex;

    @media (max-width: $size-md) {
      flex-flow: column-reverse;
    }
  }

  &__form {
    width: 60%;
    margin-right: 15px;

    @media (max-width: $size-md) {
      width: 100%;
    }
  }

  &__form-group {
    margin-bottom: 20px;
  }

  &__form-header {
    display: flex;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    height: 20px;
    margin-bottom: 10px;
  }

  &__form-header-number {
    color: white;
    background-color: black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }

  &__form-header-title {
    text-transform: uppercase;
  }

  &__form-header-icon {
    width: 12px;
    margin-left: 10px;
  }

  &__form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
    padding-left: 30px;
  }

  &__input-label {
    background-color: white;
    width: 45%;
    padding: 8px;
    cursor: text;
    position: relative;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 2px 1px #dddddd;

    &--single {
      flex-grow: 1;
    }

    &--shorter {
      padding-right: 15%;
    }

    &--error {
      border: 1px solid red;
    }
  }

  &__input-error {
    position: absolute;
    top: 5px;
    left: 0;
    color: red;
  }

  &__visa-logo {
    position: absolute;
    width: 40px;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    border: 1px solid lightgray;
    padding: 4px;
    border-radius: 4px;
  }

  &__input-title {
    margin: 0 0 0px 0;
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
  }

  &__input-text,
  &__input-select {
    width: 100%;
    border: none;
    padding: 2px 0;
    font-size: 18px;
  }

  &__input-select {
    background: none;
    appearance: none;
    position: relative;
    padding-right: 15%;
  }

  &__input-select-arrow {
    width: 20px;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: rotate(0) translateY(-50%);
    transition: all .21s ease-in-out;
    transform-origin: top;

    &--active {
      transform: rotate(180deg) translateY(-50%);
    }
  }

  &__form-control {
    margin-top: 40px;
    padding-left: 30px;
  }

  &__form-submit-btn {
    background: none;
    border: none;
    background-color: #6bd400;
    padding: 15px 0;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 14px;
    border-radius: 2px;
    box-shadow: 0 1px 1px grey;
    cursor: pointer;
    text-transform: uppercase;
  }

  &__form-submit-icon {
    width: 18px;
    margin-right: 5px;
  }
}

.summary {
  padding-top: 30px;
  flex-grow: 1;

  @media (max-width: $size-md) {
    margin-bottom: 30px;
  }

  &__outer-container {
    padding: 5px;
    background-color: white;
    box-shadow: 0 2px 1px #dddddd;
    border-radius: 4px;
  }

  &__inner-container {
    padding: 15px;
    border: 1px dashed lightgrey;
  }

  &__header {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
  }

  &__title-total {
    font-weight: bold;
  }

  &__value-total {
    font-weight: bold;
    font-size: 30px;
  }

  &__divider {
    height: 1px;
    background-image: linear-gradient(90deg, lightgray, lightgrey 75%, transparent 75%, transparent 100%);
    background-size: 6px 1px;
    border: none;
  }
}
